 /* #740001
 #AE0001
 #D3A625
 #EEBA30
 #000
 #C0C0C0*/ 

 /* #1A472A
 #2A623D
 #5D5D5D
 #AAAAAA
  */

/* #0E1A40
#222F5B
#5D5D5D
#946B2D
 */

/* site global */

html{
    background-color: #222F5B ;
    text-align: justify;
    font-family: 'Oswald','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Titre */

header{
    font-family: 'Harry Potter', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #946B2D; */
    display: flex;
    justify-content: space-around ;
    padding: 3px;
    margin: 5px;
}

h1{
    color: #FFF;
    font-size: 50px;
    text-align: center;
    padding: 5px;
    text-shadow:
    2px 3px 0 red,
    4px 4px 0 green,  
    6px 5px 0 blue,
    8px  6px 0 yellow,
    10px 7px 0 black;
}



/* menu de navigation */
nav{
    display: flex;
    justify-content: center;
}
.menu {
    font-size: 23px;
    
    font-family: 'Oswald','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
}

.menu li {
    list-style-type: none ;   
    display: flex;
    align-items: center;
    justify-content: space-around;   
}

.menu a {
    display:flex;  
    align-items: center;        
    justify-content:center;            
    margin: 5px;               
    padding: 5px;               
    color: #FFF;                  
    text-decoration: none;        
    border-radius:5px;          
    transition: 0.4s;
}
.menu a> i{
    color: #FFF;
    padding: 7px;
}

.menu a:hover i{
    color: #222F5B;}

.menu a:hover{
  background-color: #FFF;
  color: #222F5B;
}
/* toutes les div display page accueil */
.display{
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* page livres*/
.bookimg{
    width: 350px;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.part{
    background-color:  #c9d3dc;
    border: solid 5px #0E1A40;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
    display: flex;
    
}
.part img{
    max-width: 100%;
    max-height: 100%;
    width: 150%;
}

/* disposition book */
a{
    text-decoration: none;
    
}
.first-row, .second-row, .third-row{
    display: flex;
}

.book{
    background-color: #C0C0C0;
    width: 50%;
    display:flex ;
    align-items:center ;
    justify-content:space-between;
    flex-direction: column;
    padding: 10px;
    margin: 4px ;
    border: solid #000 4px;
    border-radius: 10px;
}

.description{
    width: 96%;
    height: 100%;
}


/* bouton */
.fa-w, .fa-cart-shopping{
    font-size: 30px;
    color: #000;
}
.button{
    padding: 5px;
}
.logo_button{
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    border-style: none;
}
.logo_button i{
    color: #0E1A40;
}
.logo_button:hover {
    background-color: #0E1A40;
}
.logo_button:hover i{
    color: #fff;
}


/* footer */
footer{
    color: #FFF;
    margin-left: 10px;
}