/* COULEUR DE LA PAGE
#0E1A40
#222F5B
#5D5D5D
#946B2D
 */

/* SITE GLOBAL */

html{
    background-color: #222F5B ;
    /* text-align: justify; */
    font-family: 'Oswald','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* TITRE */

header{
    font-family: 'Harry Potter', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #946B2D; */
    display: flex;
    justify-content: space-around ;
    padding: 0.3vw;
    margin: 0.3vw;
}

h1{
    color: #FFF;
    font-size: 4vw;
    text-align: center;
    padding: 0.3vw;
    text-shadow:
    2px 3px 0 red,
    4px 4px 0 green,  
    6px 5px 0 blue,
    8px  6px 0 yellow,
    10px 7px 0 black;
}

/* MENU NAVIGATION */
nav{
    display: flex;
    justify-content: center;
}
.menu {
    font-size: 1.7vw;
    
    font-family: 'Oswald','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
}

.menu li {
    list-style-type: none ;   
    display: flex;
    align-items: center;
    justify-content: space-around;   
}

.menu a {
    display:flex;  
    align-items: center;        
    justify-content:center;            
    margin: 0.3vw;               
    padding: 0.3vw;               
    color: #FFF;                  
    text-decoration: none;        
    border-radius:5px;          
    transition: 0.4s;
}
.menu a> i{
    color: #FFF;
    padding: 0.4vw;
}

.menu a:hover i{
    color: #222F5B;}

.menu a:hover{
  background-color: #FFF;
  color: #222F5B;
}

/* TOGGLE SWITCH THEME */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: rgb(219, 198, 2);
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.5em);
  }
  
  .slider::after {
    width: 20px;
    height: 20px;
    left: 20%;
    top: 10%;
    border-radius: 50%;
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    transition: ease 0.4s;
  }
  
  input:checked + .slider::after {
    left: 80%;
    width: 0px;
    height: 0px;
  }
/* FORMULAIRE DE CONTACT */
.contact{
    background-color:  #c9d3dc;
    border: solid 5px #0E1A40;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
    
}
.heading{
    text-align: center;
    font-size: 2vw;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
}
 .contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-formdiv{
    padding: 0.4vw;
    margin: 0.3vw;
    width: 30vw;
    height: 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contact-formdiv .contact-input{
    width:15vw;
    height: 2.5vw;
    font-weight: bold;
}
.contact-formdiv label{
    font-size: 1.5vw;
}

.contact-input, #message{
    font-family:Helvetica, sans-serif ;
    font-size: 1vw;
    border-radius: 5px;
    padding: 0.4vw;
     border: none;
    border-radius: 5px;
    margin-bottom: 2vw;
    margin-top: 0.vw;
}

#message {
    
    resize: none;
    height: 7vw;
    width: 20vw;
  }

 .contact-input:focus,  #message:focus {
    outline: none;
    box-shadow: 0 0 5px #0E1A40;
    transform: scale(1.05);
    transition: transform 0.25s ease-in;
  }

#submit{
    width: 7vw;
    height: 3vw;
    background-color: #222F5B;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1vw 2vw;
    font-size: 1vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #submit:hover {
    transform: scale(1.1);
    transition: transform 0.25s ease-in-out;
  }

/* DISPLAY DES DIV DE LA PAGE ACCUEIL  */
.display{
    font-size: 1.5vw;
    padding: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* DIV ACCUEIL */
.part{
    background-color:  #c9d3dc;
    border: solid 5px #0E1A40;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
    display: flex;
    
}
.part img{
    max-width: 100%;
    max-height: 100%;
    width: 150%;
}

/* disposition book, film */
a{
    text-decoration: none;
}
.first-row, .second-row, .third-row{
    display: flex;
    justify-content: center;
}
/* disposition de chaque div book/film/charac */
.book, .film, .charac{
    font-size: 1vw;
    background-color: #c9d3dc;
    width: 30vw;
    display:flex ;
    align-items:center ;
    justify-content:space-between;
    flex-direction: column;
    padding: 0.5vw;
    margin: 0.3vw ;
    border: solid #000 4px;
    border-radius: 10px;
}

.bookimg, .filmimg, .characimg{
    width: 350px;
    height: 500px;
    max-width: 25vw; 
    max-height: 30vw;
    border-radius: 10px;
}

.description{
    padding: 3px;
    width: 96%;    
    height: 18vw;
}

/* BOUTON */
.fa-w, .fa-cart-shopping{
    font-size: 2vw;
    color: #000;
}
.button{
    padding: 0.3vw;
}
.logo_button{
    margin: 0.3vw;
    padding: 0.3vw;
    border-radius: 10px;
    border-style: none;
    transition: 0.25s ease-in-out;
}
.logo_button i{
    color: #0E1A40;
}
.logo_button:hover {
    background-color: #0E1A40;
}
.logo_button:hover i{
    color: #fff;
}

/* QUIZ */
.quiz h2{
    font-family: 'Harry Potter';
    font-size: 5vw;
}
.quiz{
    width: 62vw;
    display:flex ;
    align-items:center ;
    justify-content:space-around;
    flex-direction: column;
    text-align: center;
    padding: 0.5vw;
    margin: 0.3vw ;
    border: solid #000 4px;
    border-radius: 10px;
    background-color: #c9d3dc; 
    font-size: 1.4vw;
}
.quiz p{
    font-family: poppins;
    font-weight:600;
    font-size: 1.6vw;
    padding:0.4vw;
    border-radius: 10px;    
}

.answer{
    font-family: poppins;
    border: solid 2px #0E1A40;
    background-color: #5667a0;
    border-radius: 10px;
    width: 99%;
    height:7vw;
    font-size: 1.6vw;
    font-weight:400;
    margin: 0.1vw;
    padding: 0.1vw;
}

.answer:hover{
    transform: scale(1.01);
    transition: transform 0.1s ease-in-out;
}
/* footer */
footer{
    font-size: 1vw;
    color: #FFF;
    margin-left: 10px;
}